.sign-in-app-container {
  min-height: 100vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(
      116.64deg,
      rgba(0, 0, 0, 0.8) 0.46%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://res.cloudinary.com/venkateshd/image/upload/v1635149088/movies_app_signin_background_image.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .sign-in-app-container {
    background: #131313;
  }
}
.sign-in-logo-container {
  margin-left: 165px;
  margin-top: 48px;
  align-self: flex-start;
}
.movie-logo {
  height: 52px;
  width: 180px;
}
@media screen and (max-width: 576px) {
  .movie-logo {
    height: 27px;
    width: 110px;
  }
  .sign-in-logo-container {
    margin-top: 32px;
    margin-left: 25px;
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .sign-in-logo-container {
    align-self: center;
    width: 90%;
  }
}
.login-container {
  width: 456px;
  height: 440px;
  background: #0c0b10;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 292px;
}
@media screen and (max-width: 576px) {
  .login-container {
    margin-top: 32px;
    margin-bottom: 200px;
    width: 90%;
    background: transparent;
  }
}
.sign-in-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .sign-in-heading {
    font-size: 32px;
  }
  .form-control {
    width: 90%;
  }
}
.input-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .input-container {
    margin-top: 25px;
  }
}
.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 8px;
}
.input {
  background: #333333;
  border-radius: 2px;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.submit-button {
  background: #e50914;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  height: 40px;
  width: 94px;
  align-self: center;
  margin-top: 25px;
}
@media screen and (max-width: 576px) {
  .submit-button {
    width: 100%;
  }
}
.error-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fb923c;
}
