.home-search-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 320px;
}
.search-movie-container {
  display: flex;
  flex-direction: column;
}
.search-movie-list-container {
  padding-left: 0px;
  width: 80%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
.search-movie-list-item {
  list-style-type: none;
  margin-bottom: 25px;
  margin-right: 25px;
}
.search-movie-image {
  width: 226px;
  height: 175px;
  border-radius: 8px;
}
.search-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 125px;
}
.search-failure-image {
  width: 452px;
  height: 370px;
}
@media screen and (max-width: 767px) {
  .search-failure-image {
    height: 210px;
    width: 250px;
  }
}
.failure-error-msg {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .failure-error-msg {
    width: 80%;
    margin-top: 25px;
  }
}
.home-search-button-control-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 65px;
}
.control-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 32px;
  width: 32px;
  padding-top: 4px;
  padding-right: 7px;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}
.page-number {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #cbd5e1;
  margin-top: 4px;
}
